<div>
    <h2>Hommes</h2>
    <ul>
        <li *ngFor="let homme of hommes">
            <p>{{homme.nom}} {{homme.prenom}}</p>
            <p>{{homme.ddn | customAge}}</p>
            <p>{{homme.ville}}</p>
            <p>{{homme.desc}}</p>
        </li>
        
    </ul>
</div>
<div>
    <h2>Femmes</h2>
    <ul>
        <li *ngFor="let femme of femmes">
            <p>{{femme.nom}} {{femme.prenom}}</p>
            <p>{{femme.ddn | customAge}}</p>
            <p>{{femme.ville}}</p>
            <p>{{femme.desc}}</p>
        </li>
        
    </ul>
</div>
