<button><a routerLink="/gestion-profil">Retour</a></button>
<form [formGroup]="ajoutForm"(ngSubmit)="add()">
    <div>
        <input formControlName="nom" type="text" placeholder="Nom">
        <span class="error-message" *ngIf="ajoutForm.get('nom')?.errors?.['required']&&ajoutForm.get('nom')?.touched">Champs Requis</span>
        <span class="error-message" *ngIf="ajoutForm.get('nom')?.errors?.['minlength']">Trop petit</span>
        <span class="error-message" *ngIf="ajoutForm.get('nom')?.errors?.['maxlength']">Trop grand</span>
    </div>
    <div>
        <input formControlName="prenom" type="text" placeholder="Prenom">
        <span class="error-message" *ngIf="ajoutForm.get('prenom')?.errors?.['required']&&ajoutForm.get('prenom')?.touched">Champs Requis</span>
        <span class="error-message" *ngIf="ajoutForm.get('prenom')?.errors?.['minlength']">Trop petit</span>
        <span class="error-message" *ngIf="ajoutForm.get('prenom')?.errors?.['maxlength']">Trop grand</span>
    </div>
    <div>
        <input formControlName="ddn" type="date" placeholder="Date de naissance">
        <span class="error-message" *ngIf="ajoutForm.get('ddn')?.errors?.['required']&&ajoutForm.get('ddn')?.touched">Champs Requis</span>
    </div>
    <div>
        <input formControlName="homme"formControlName="homme" type="checkbox" id="g">
        <label for="g">Etes-vous un homme ?</label>
    </div>
    <div>
        <select formControlName="ville" name="" id="">
            <option value="">Choisissez une ville</option>
            <option value="Charleroi">Charleroi</option>
            <option value="Namur">Namur</option>
            <option value="Liege">Liege</option>
            <option value="Bruxelles">Bruxelles</option>
            <option value="Arlon">Arlon</option>
            <option value="Anvers">Anvers</option>
        </select>
        <span class="error-message" *ngIf="ajoutForm.get('ville')?.errors?.['required']&&ajoutForm.get('ville')?.touched">Champs Requis</span>
    </div>
    <div>
        <textarea formControlName="desc" cols="30" rows="10" placeholder="Description"></textarea>
        <span class="error-message" *ngIf="ajoutForm.get('desc')?.errors?.['required']&&ajoutForm.get('desc')?.touched">Champs Requis</span>
        <span class="error-message" *ngIf="ajoutForm.get('desc')?.errors?.['maxlength']">Trop grand</span>
    </div>
    <input type="submit" value="Créer le profil">
</form>