<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of profils" [ngClass]="{homme:item.homme, femme:!item.homme}">
            <td>{{item.nom | uppercase}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.ddn | customAge}} ans</td>
            <td>
                <a routerLink="/edit-profil/{{item.id}}"><button>📝</button></a>
                <button (click)="deleteProfil(item.id)">🗑</button>
            </td>
        </tr>
    </tbody>
</table>
<button><a routerLink="/create-profil">Ajouter un profil</a></button>